body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    margin: 0;
    padding: 0;
    color: #333; /* Dark gray text */
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #playlist {
    margin-bottom: 20px;
  }
  
  #message-input {
    width: calc(100% - 20px);
    max-width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    background-color: #f9f9f9; /* Light gray background */
    color: #333; /* Dark gray text */
  }
  
  #message-input::placeholder {
    color: #999; /* Lighter gray placeholder text */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  button:hover {
    background-color: #2980b9; /* Darker blue hover color */
  }
  
  #messages {
    margin-top: 20px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333; /* Dark gray text */
  }
  